In [2]:
import sqlite3
import pandas as pd

In [3]:
sqliteConnection = sqlite3.connect('data.db')
sql_query = """SELECT name FROM sqlite_master  
  WHERE type='table';"""
cursor = sqliteConnection.cursor()
cursor.execute(sql_query)
print(cursor.fetchall())

[('balances',), ('client_products',), ('client',), ('inv_campaign_eval',)]

In [4]:
balances_query = """SELECT * FROM balances"""
balances_df = pd.read_sql_query(balances_query, sqliteConnection)

client_product_query = """SELECT * FROM client_products"""
client_product_df = pd.read_sql_query(client_product_query, sqliteConnection)

client_query = """SELECT * FROM client"""
client_df = pd.read_sql_query(client_query, sqliteConnection)

inv_campaign_eval_query = """SELECT * FROM inv_campaign_eval"""
inv_campaign_eval_df = pd.read_sql_query(inv_campaign_eval_query, sqliteConnection)

In [6]:
balances_df.currency.unique()
balances_df.currency.isnull().values.any()
global balances_df

In [40]:
client_product_df.head()
client_product_df[['client_id', 'has_deposits', 'loan', 'has_insurance', 'has_mortgage']].isnull().values.any()

    client_id has_deposits loan has_insurance has_mortgage
0   249789938          yes   no             n           no
1  1222646323           no   no             n           no
2   451375919           no   no             n          yes
3   338972671           no   no             y          yes
4  1472834688          yes   no             n          yes

In [43]:
inv_campaign_eval_df.head()

    client_id poutcome
0   249789938  success
1  1504633819  failure
2  1952195738  success
3   989726384  success
4  1971878545  failure

In [45]:
inv_campaign_eval_df[['client_id', 'poutcome']].isnull().values.any()

False