In [ ]:
import sqlite3
import numpy as np
import pandas as pd

In [26]:
import matplotlib.pyplot as plt
import seaborn as sns

Fontconfig warning: ignoring UTF-8: not a valid region tag

In [3]:
 # Making a connection between sqlite3 
    # database and Python Program
sqlConnection = sqlite3.connect('data.db')

In [7]:
balances_query = "SELECT * FROM balances" 
balances_query_df = pd.read_sql_query(balances_query, sqlConnection)

client_query = "SELECT * FROM client" 
client_df = pd.read_sql_query(client_query, sqlConnection)

client_products_query = "SELECT * FROM client_products" 
client_products_df = pd.read_sql_query(client_products_query, sqlConnection)

inv_camp_query = "SELECT * FROM inv_campaign_eval" 
inv_camp_df = pd.read_sql_query(inv_camp_query, sqlConnection)

In [8]:
balances_query_df.shape

<bound method DataFrame.info of                               date      balance  client_id currency
0       2023-06-06 16:21:15.291346  2680.467773  249789938      CZK
1       2023-05-23 16:21:15.291346  2654.055419  249789938      CZK
2       2023-05-09 16:21:15.291346  2620.835872  249789938      CZK
3       2023-04-25 16:21:15.291346  2720.315925  249789938      CZK
4       2023-04-11 16:21:15.291346  2687.601982  249789938      CZK
...                            ...          ...        ...      ...
290207  2022-08-16 16:22:46.440217   145.454161  705801685      CZK
290208  2022-08-02 16:22:46.440217    -5.497494  705801685      CZK
290209  2022-07-19 16:22:46.440217   -45.891607  705801685      CZK
290210  2022-07-05 16:22:46.440217    19.473946  705801685      CZK
290211  2022-06-21 16:22:46.440217   163.032053  705801685      CZK

[290212 rows x 4 columns]>

In [9]:
balances_query_df.dtypes

date          object
balance      float64
client_id      int64
currency      object
dtype: object

In [10]:
client_df.dtypes

client_id      int64
age          float64
job           object
marital       object
education     object
gender        object
dtype: object

In [11]:
client_products_df.dtypes

client_id         int64
has_deposits     object
loan             object
has_insurance    object
has_mortgage     object
dtype: object

In [12]:
inv_camp_df.dtypes

client_id     int64
poutcome     object
dtype: object

In [23]:
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  11162 non-null  int64
 1   age        10930 non-null  float64
 2   job        10724 non-null  object
 3   marital    11162 non-null  object
 4   education  11162 non-null  object
 5   gender     11162 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 523.3+ KB

In [28]:
# Check for missing values in each column
client_df.isnull().sum()

client_id      0
age          232
job          438
marital        0
education      0
gender         0
dtype: int64

In [ ]:
inv_camp_df

In [31]:
client_products_df.isnull().sum()

client_id        0
has_deposits     0
loan             0
has_insurance    0
has_mortgage     0
dtype: int64